
/* basic */

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* transition */

/* navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    background-color: #756AB6;
}

.nav-links {
    display: flex;
    gap: 125px;
    font-size: x-large;
    list-style: none;    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: silver;
}

#Layer_1:hover{
    fill: silver;
    cursor: pointer;
}

/* profile section */

#prof {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    height: 700px;
    background-image: url("./profile-background-img.jpg");
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.prof-img-con img {
    width: 350px;
    height: 350px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.prof-sub-sec-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.prof-sec-text-con {
    text-align: center;
    padding: 35px 0 100px 0;
    color: whitesmoke;
}

p {
    font-size: x-large;
    font-family: cursive;  
}

.b1 {
    width: 125px;
    height: 50px;
    border-radius: 25px;
}

.b1:hover {
    cursor: pointer;
    background-color: silver;
}

.prof-logo-con {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 100px;
    padding-top: 10px;
}

.prof-logo-con img {
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

/* skills section */

#skills { 
   width: 100%;
   height: 750px;
   background-color: white;
   background-image: url("./skills-background-image.png");
   background-size:cover; 
   background-position: center;
   background-repeat: no-repeat;   
}

.sk-sec-h-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 30px 0 30px 0; 
    font-size: xx-large;
}

.sk-sub-sec-con {
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 550px;
    font-size: x-large;    
}

.sk-sub-sec-con-1, .sk-sub-sec-con-2 {
    width: 350px;
    height: 550px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: silver;
}

.sk-sub-sec-h-con {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    padding: 5px 5px 5px 5px;
    gap: 15px;
}

.skill-name-con {
    display: flex;
    justify-content: left;
    padding: 20px 0 20px 45px;
    font-size: large;
    gap: 7.5px;
}

.sub-sec-icon img {
    width: 25px;
    height: 25px;
}

.skill-name-level-con {
    text-align: center;
}
 
/* education section */

#education {
    width: 100%;
    height: 750px;
    background-color: whitesmoke;
    background-image: url("./education-background-image.png");
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;    
}

.edu-sec-h-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 40px 0 40px 0; 
    font-size: xx-large;
}

.edu-sub-sec-con {
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    font-size: x-large;    
}

.edu-sub-sec-con-1, .edu-sub-sec-con-2, .edu-sub-sec-con-3, .edu-sub-sec-con-4 {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: bisque;
}

.edu-sub-sec-h-con {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    padding: 5px 5px 5px 5px;
    gap: 15px;
}

.edu-details-con {
    display: flex;
    justify-content: left;
    padding: 20px 0 20px 45px;
    font-size: large;
    gap: 7.5px;
}

/* project section */

#projects {
    width: 100%;
    height: 750px;
    background-color: white;
    background-image: url("./project-background-image.png");
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.pro-sec-h-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 40px 0 40px 0; 
    font-size: xx-large;
}

.pro-sub-sec-con {
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 550px;
    font-size: x-large;    
}

.pro-sub-sec-con-1, .pro-sub-sec-con-2 {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.pro-sub-sec-h-con {
    display: flex;
    justify-content: left;
    text-align: center;
    text-decoration: underline;
    padding: 5px 5px 5px 5px;
    gap: 15px;
}

.pro-sub-sec-icon img {
    width: 50px;
    height: 50px;
}

.pro-details-con {
    display: flex;
    justify-content: left;
    padding: 20px 0 20px 45px;
    font-size: large;
    gap: 7.5px;
}

/* contact section */

#contact {
   width: 100%;
   height: 715px;
   background-color: whitesmoke;
   background-image: url("./contact-background-image.png");
   background-size:cover; 
   background-position: center;
   background-repeat: no-repeat;
}

.con-sec-h-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 40px 0 40px 0; 
    font-size: xx-large;
}

.con-sub-sec-con {
    display: flex;
    justify-content: space-around;
    height: 550px;
    font-size: x-large;    
}

.con-sub-sec-con-1 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

.con-sub-sec-h-con {
    display: flex;
    justify-content: left;
    text-align: center;
    text-decoration: underline;
    padding: 5px 5px 5px 5px;
    gap: 15px;
}

.con-sub-sec-icon img {
    width: 50px;
    height: 50px;
}

.con-details-con {
    display: flex;
    justify-content: left;
    padding: 20px 0 20px 45px;
    font-size: large;
    gap: 7.5px;
}

/* footer */

#copyright {
    text-align: center;
}